<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<!-- 회원 정보 조회 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(seq_MEMBER_NO.nextval,#{member_Id},#{member_Password},#{member_Age},#{member_Gender},#{member_Email},#{member_Phone})
	</insert>
	<select id="selectMemberOne" parameterType="member" resultType="member">
		select * from  Member WHERE MEMBER_ID=#{member_Id}
	</select>
	<!--아이디찾기 -->
	<select id="selectMemberEmail" parameterType="member" resultType="member">
		select * from  Member WHERE MEMBER_EMAIL=#{member_Email}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMemberPage">
	  UPDATE MEMBER SET 
	                    MEMBER_ID=#{member_Id},
	                    MEMBER_PASSWORD=#{member_Password},
	                    MEMBER_EMAIL=#{member_Email},
	                    MEMBER_PHONE=#{member_Phone} where MEMBER_ID=#{member_Id} 
	</update> 
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMemberPage">
	  DELETE FROM MEMBER 
	     WHERE MEMBER_ID=#{member_Id}
	       and MEMBER_PASSWORD=#{member_Password}
	</delete>

</mapper>
