<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
    <!-- 회원 가입  -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(seq_MEMBER_NO.nextval,#{member_Id},#{member_Password},#{member_Name},#{member_Age},#{member_Address},#{member_Email},#{member_Phone},#{member_Gender})
	</insert>
	
	<!-- 회원 정보 조회 -->
	<select id="selectMember" parameterType="member" resultType="member">
		select * from  Member WHERE MEMBER_ID=#{member_Id}
	</select>
	
	
	<!-- 회원 정보 수정 -->
	<update id="updateMemberPage">
	  UPDATE MEMBER SET 
	                    MEMBER_ID=#{member_Id},
	                    MEMBER_PASSWORD=#{member_Password},
	                    MEMBER_NAME=#{member_Name},
	                    MEMBER_AGE=#{member_Age},
	                    MEMBER_ADDRESS=#{member_Address},
	                    MEMBER_EMAIL=#{member_Email},
	                    MEMBER_PHONE=#{member_Phone}
	                    
	                    <!-- where member_Id=#{member_Id} -->
	</update> 
	
	<!-- 회원 탈퇴 -->

</mapper>
