<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
  <select id="selectCount" resultType="_int">
  	SELECT COUNT(*) FROM PARTNER
  </select>
  <select id="selectTruckList" resultType="partner">
  	SELECT * FROM PARTNER
  </select>
  <select id="selectMenu" parameterType="_int" resultType="menu">
	SELECT * FROM MENU WHERE PARTNER_NO = #{partner_No}  
  </select>
  <select id="selectStar" parameterType="_int" resultType="_double">
  	SELECT AVG(REVIEW_STAR) FROM REVIEW WHERE PARTNER_NO = #{partner_No}
  </select>
  <select id="selectReviewCount" parameterType="_int" resultType="_int">
  	SELECT COUNT(*) FROM REVIEW WHERE PARTNER_NO = #{partner_No}
  </select>
  <select id="selectTruck" parameterType="_int" resultType="partner">
  	SELECT * FROM PARTNER WHERE PARTNER_NO=#{p.partner_No}
  </select>
  <select id="selectReview" parameterType="_int" resultType="review">
  	SELECT A.*,MEMBER_ID FROM (SELECT REVIEW_NO, REVIEW_CONTENT, REVIEW_TIME, REVIEW_STAR, ORINAME_FILE, RENAME_FILE, R.ORDER_NO, R.MEMBER_NO FROM ORDER_HISTORY O, REVIEW R WHERE O.ORDER_NO = R.ORDER_NO AND O.PARTNER_NO = #{partner_No} ORDER BY REVIEW_TIME DESC) A, MEMBER B WHERE B.MEMBER_NO = A.MEMBER_NO
  </select>
  <insert id="insertOrder" parameterType="order">
  	INSERT INTO ORDER_HISTORY VALUES(SEQ_ORDER_NO.NEXTVAL, #{order_List}, #{add_Request}, #{order_Price}, DEFAULT, #{reservation_YN}, #{partner_No}, #{member_No})
  </insert>
  <select id="selectReviewComment" parameterType="_int" resultType="comment">
  	SELECT * FROM REVIEW_COMMENT WHERE COMMENT_TO = #{comment_To}
  </select>
</mapper>
