<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.letEatGo.member.model.vo.Member" alias="m"/>
		<typeAlias type="com.kh.letEatGo.partner.model.vo.Partner" alias="p"/>
		<typeAlias type="com.kh.letEatGo.common.type.StringArrayHandler" alias="strArray"/>
	</typeAliases>
</configuration>
