<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.letEatGo.common.type.StringArrayHandler" alias="strArray"/>
		<typeAlias type="com.kh.letEatGo.accountBook.model.vo.AccountBook" alias="accountbook"/>
		<typeAlias type="com.kh.letEatGo.festival.model.vo.Festival" alias="festival"/>
		<typeAlias type="com.kh.letEatGo.order.model.vo.Order" alias="order"/>
		<typeAlias type="com.kh.letEatGo.order.model.vo.Menu" alias="menu"/>
		<typeAlias type="com.kh.letEatGo.partner.model.vo.Partner" alias="partner"/>
		<typeAlias type="com.kh.letEatGo.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.letEatGo.map.model.vo.ZoneMap" alias="zonemap"/>
		<typeAlias type="com.kh.letEatGo.map.model.vo.TruckMap" alias="truckmap"/>
		<typeAlias type="com.kh.letEatGo.calendar.model.vo.Calendar" alias="calendar"/>
		<typeAlias type="com.kh.letEatGo.order.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.letEatGo.order.model.vo.ReviewComment" alias="comment"/>
	</typeAliases>
</configuration>
